.comment-section {
	border: 3px solid rgba(51, 51, 51, .8);
	box-shadow: 0px 0px 3px 6px rgba(40, 40, 40, .7);
}
.form-group {
	padding: 5px 10px;
}
.comment-heading {
	display: flex;
	justify-content: center;
}
.media,
.media-body {
	padding-left: 8px;
}