
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: .8;
	overflow: hidden;
	// &-container


	&-content {
		background-color: #212529;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.home-bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: .8;
	overflow: hidden;
	background-image: radial-gradient(
    				  rgba($color-primary, 1), 
   					  rgba($color-primary-bright, .9));
	// &-container
}
