//COLOR VARIABLES
//-----Colors
$color-primary: rgb(30, 187, 163); //#1ebba3
$color-primary-bright: rgb(80, 226, 204); //#50e2cc
$color-primary-dark: rgb(0, 102, 102); // #006666
$color-primary-dull: rgb(81, 159, 165); //#519fa5
$color-primary-dull2: rgb(101, 174, 179);//#98c9cd


$color-magenta: rgb(255, 0, 255);


//-----Shades
$color-black: #000;
$color-white: #fff;
$color-grey51: 	rgb(51, 51, 51);     // #333
$color-grey119: rgb(119, 119, 119); //#777
$color-grey153: rgb(153, 153, 153); //#999
$color-grey191: rgb(191, 191, 191); //#bfbfbf
$color-grey247: rgb(247, 247, 247); //#f7f7f7
$color-grey238: rgb(238, 238, 238); //#eee




/*GRID*/
$grid-width: 114rem; 
$gutter-vertical: 8rem;
$gutter-vertical-sm: 6rem;
$gutter-horizontal: 6rem;